@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: black;
  --secondary-color: white;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: white;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}


body {
  font-family: 'Heebo', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

  overflow: hidden;
}
