@import url('https://fonts.googleapis.com/css?family=Muli');

* {
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
  background-image: linear-gradient(
    to bottom,
    lightcyan 0%,
    lightcyan 50%,
    #5290f9 50%,
    #5290f9 100%
  );
  font-family: 'Muli', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 20px;
  width: 80px;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: width 0.6s linear;
}

nav.active {
  width: 350px;
}

nav ul {
  display: flex;
  width: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}
