@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

:root {
  --border-color: #144fc6;
  --full-cup-color: #6ab3f8;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #3494e4;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

h1 {
  margin: 10px 0 0;
}

h3 {
  font-weight: 400;
  margin: 10px 0;
}

.cup {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 4px solid var(--border-color);
  color: var(--border-color);
  border-radius: 0 0 40px 40px;
  height: 330px;
  width: 150px;
  margin: 30px 0;
  overflow: hidden;
}

.cup.cup-small {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 6px;
  width: 50px;
  height: 95px;
  border-radius: 0 0 16px 16px;
  background-color: rbga(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 14px;
  transform: 0.34s ease;
}

.cup.cup-small.full {
  background-color: var(--full-cup-color);
}

.small-cups {
  display: flex;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
  width: 260px;
}
