@import url('https://fonts.googleapis.com/css?family=Ubuntu');

:root {
  --image-url: url('https://images.unsplash.com/photo-1675365723622-4f502982f089?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1828&q=80');
  --blur-spacing--offset: -30px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;

  overflow: hidden;
}

.background-image {
  background: var(--image-url) no-repeat center center/cover;
  position: absolute;
  top: var(--blur-spacing--offset);
  left: var(--blur-spacing--offset);
  height: calc(100vh - 2 * var(--blur-spacing--offset));
  width: calc(100vw - 2 * var(--blur-spacing--offset));
  z-index: -100;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
}
