@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #22254a;
  --secondary-color: #373b68;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: var(--primary-color);
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  color: white;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.search::placeholder {
  color: lightblue;
}

.search:focus {
  background-color: var(--primary-color);
  outline: none;
}
