@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

:root {
  --active-border-color: blueviolet;
  --inactive-border-color: lightgray;
}

* {
  box-sizing: border-box;
}

.btn {
  font-family: inherit;
  font-size: 14px;
  background-color: var(--active-border-color);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 5px;
}

.btn:active {
  transform: scale(0.9);
}

.btn:disabled {
  background-color: var(--inactive-border-color);
  cursor: not-allowed;
}

body {
  font-family: 'Muli', sans-serif;
  background-color: #f6f7fb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  text-align: center;
}

.progress-wizard-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-wizard-container::before,
.progress-line {
  content: '';
  background-color: var(--inactive-border-color);
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  height: 3px;
  transform: translateY(-50%);
  transition: 0.3s ease;
  z-index: -1;
}

.progress-line {
  background-color: var(--active-border-color);
  width: 30%;
}

.circle {
  display: flex;
  background-color: white;
  color: grey;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  transition: 0.3s ease;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--inactive-border-color);
}

.circle.active {
  border-color: var(--active-border-color);
}
